:root {
  --primary-font: "Roboto", sans-serif;
  --primary-slate-color: #434455;
  --primary-white-color: #ffffff;
  --primary-navy-blue-color: #2e2f42;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 0;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.header-menu {
  display: flex;
  min-width: 261px;
  margin-left: 76px;
  gap: 40px;
}

.header-logo span {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  align-items: center;
  margin-right: 76px;
}

.header-menu-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  padding: 24px 0;
}

.header-menu-link {
  text-decoration: none;
  color: #2e2f42;
  padding: 24px 0;
}

.header-menu-link:hover {
  color: #404bbf;
}

.header-menu-link:focus {
  color: #404bbf;
}

.header-contacts {
  font-style: normal;
  display: flex;
  margin-left: auto;
}

.header-contacts-item {
  list-style: none;
  display: flex;
  gap: 40px;
}

.header-contacts-item-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-contacts-item-link:hover {
  color: #404bbf;
}

.header-contacts-item-link:focus {
  color: #404bbf;
}

/** ---------------HERO---------- */

.hero {
  padding-bottom: 214px;
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-container {
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 496px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 48px;
  max-width: 496px;
}

.hero-btn {
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  align-items: center;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: block;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn:hover {
  background-color: #404bbf;
}

.hero-btn:focus {
  background-color: #404bbf;
}

/** ---------BENEFITS--------- */

.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.name-benefits {
}

.benefits-list {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  gap: 24px;
}

.benefits-item {
  width: calc((100% - 72px) / 4);
}

.benefits-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.benefits-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/** --------SKILL---------- */

.skill {
  padding-top: 60px;
  padding-bottom: 120px;
}

.skill-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin: 0 auto;
  margin-bottom: 72px;
}

.skill-list {
  display: flex;
  gap: 24px;
}

/** --------TEAM-------- */

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-container {
  padding: 32px 16px;
}

.subtitle-container {
  padding: 32px 16px;
}

.team-list {
  background-color: #f4f4fd;
  padding-top: 72px;
  padding-bottom: 120px;
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 8px;
  padding-left: auto;
  padding-right: auto;
  margin-bottom: 72px;
  margin-bottom: 8px;
}

.team-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  padding-bottom: 32px;
  text-align: center;
  margin-bottom: 8px;
}

/** ------------SERVICES----------- */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 96px;
  padding-bottom: 72px;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  align-items: center;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
}

.portfolio-btn:hover {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}

.portfolio-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}

.prospects-item {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.prospects-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.prospects-title {
  margin-bottom: 8px;
}

.prospects-list {
  width: calc((100% - 48px) / 3);
}

.prospects-img link.portfolio-container {
  list-style: none;
}

/** ------------PROSPECTS--------- */

.prospects-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 8px;
}

.prospects-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: flex;
}

/** --------FOOTER------- */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo span {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding-top: 16px;
  padding-bottom: 100px;
  max-width: 264px;
}
