:root {
  --primary-font: "Roboto", sans-serif;
  --primary-slate-color: #434455;
  --primary-white-color: #ffffff;
  --primary-navy-blue-color: #2e2f42;
  --border-bttn-color: #e7e9fc;
  --button-background-color: #f4f4fd;
  --header-menu-link: #4d5ae5;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  /* max-width: 1158px; */
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-menu {
  display: none;
  min-width: 261px;
  gap: 40px;
}

.header-menu-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link {
  display: block;
  text-decoration: none;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo span {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  align-items: center;
  /* margin-right: 76px; */
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color: #404bbf;
}

.header-menu-link:hover {
  color: #404bbf;
}

.header-menu-link:focus {
  color: #404bbf;
}

.header-contacts {
  display: flex;
  display: none;
  font-style: normal;
  margin-left: auto;
}

.header-contacts-item {
  display: flex;
  list-style: none;
  gap: 40px;
}

.header-contacts-item-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-item-link:hover {
  color: #404bbf;
}

.header-contacts-item-link:focus {
  color: #404bbf;
}

.open-contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: #2e2f42;
  background-color: transparent;
  border: none;
}

.mob-menu {
  padding: 24px 24px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  overflow: auto;
}

.close-contact-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-list {
  /* padding-left: 40px; */
  margin-top: 50px;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-menu-link {
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: #2E2F42;
}

.mob-contact-list {
  /* margin-bottom: 40px; */
  /* flex-direction: column; */
  gap: 40px;
}

.mob-contact-item {
  margin-bottom: 40px;
  /* margin-left: 40px; */
}

.mob-mail {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #434455;
  text-transform: lowercase;
}

.mob-contacts-link {
  color: #4D5AE5;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.mob-menu-link:hover {
  color: #404bbf;
}

.mob-menu-link:focus {
  color: #404bbf;
}

.mob-soc-list {
  display: flex;
  /* max-width: 320px; */
  justify-content: center;
  align-items: center;
  /* justify-content: space-between; */
  gap: 30px;
  /* display: flex;
  cursor: pointer;
  flex-direction: row; */
  /* justify-content: center; */
  /* align-items: center;
  padding: 0px;
  
  padding-left: 40px;
  margin-bottom: 40px; */
}

.mob-soc-item {
  width: 40px;
  height: 40px;
}

.mob-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-soc-icon {
  display: flex;
  flex-direction: row;
  fill: var(--button-background-color);
}

/** ---------------HERO---------- */

.hero {
  background-color: #2e2f42;
  /* padding: 188px 0 188px; */
  padding: 112px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/dark-mobile.jpg);

  max-width: 428px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/dark-mobile-2x.jpg);
  }
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  /* max-width: 496px; */
}

.hero-btn {
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  align-items: center;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: block;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
  background-color: #404bbf;
  border: none;
}

.hero-btn:focus {
  background-color: #404bbf;
  border: none;
}

/** ---------BENEFITS--------- */

.benefits {
  padding-top: 96px;
  padding-bottom: 96px;
}

.benefits-icon-bg {
  display: none;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  /* padding-left: 0;
  padding-right: 0; */
  gap: 72px 24px;
  /* text-align: center; */
}

.benefits-item {
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
}

.benefits-subtitle {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2E2F42
}

.benefits-item-text {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.50;
  letter-spacing: 0.02em;
  color: #434455;

}

/** --------SKILL---------- */

.skill {
  padding-bottom: 120px;
  display: none;
}

.skill-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin: 0 auto;
  margin-bottom: 72px;
}

.skill-list {
  display: flex;
  gap: 24px;
}

/** --------TEAM-------- */

.team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.subtitle-container {
  padding: 32px 0;
}

.team-list {
  background-color: #f4f4fd;
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  text-align: center;
}

.team-soc-icon {
  display: flex;
  flex-direction: row;
  fill: var(--button-background-color);
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  padding-left: auto;
  padding-right: auto;
  margin-bottom: 72px;
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
  margin-top: 8px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover {
  background-color: #404bbf;
}

.team-soc-link:focus {
  background-color: #404bbf;
}

.team-soc-link:hover .hero-soc-icon {
  background-color: #404bbf;
}

.customers {
  padding: 96px 0;
}

.customers-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 16px;

}

.customers-item {
  width: 190px;
  height: 88px;
  width: calc((100% - 16px) / 2);
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #8e8f99;
  border: 1px solid #8e8f99;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover {
  border-color: #404bbf;
  color: #404bbf;
}

.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.customers-icon {
  width: 104;
  height: 56;
  fill: currentColor;
}

/** ------------SERVICES----------- */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  align-items: center;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.prospects-item {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.prospects-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.prospects-title {
  margin-bottom: 8px;
}

.prospects-list {
  width: calc((100% - 48px) / 3);
  position: relative;
}

.prospects-block-text {
  position: absolute;
  font-size: 16px;
  font-family: Roboto;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.prospects-img-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.prospects-img-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.prospects-img-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.prospects-img-link:hover .prospects-block-text {
  transform: translateY(0%);
}

.prospects-img-link:focus .prospects-block-text {
  transform: translateY(0%);
}

.prospects-block {
  position: relative;
  overflow: hidden;
}

.prospects-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; */
  margin-bottom: 8px;
}

.prospects-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  /* display: flex; */
}

/** --------FOOTER------- */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 72px 24px;
}

.footer-pack {
  /* text-align: center; */
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.footer-logo span {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #F4F4FD;
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
  display: inline-block;
  margin-right: 0 auto;
  margin-bottom: 16px;
  display: block;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  /* margin-right: auto;
  margin-left: auto; */
}

.footer-soc-title {
  color: #ffffff;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
  justify-content: center;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-soc-item {
  width: 100%;
  height: 100%;
  background-color: #4D5AE5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover {
  background-color: #31d0aa;
}

.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-soc-icon {
  fill: #f4f4fd;
}

.subscribe {
  width: 100%;
  /* margin-left: auto;
  margin-right: auto; */

}

.subscribe-label {
  width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* width: 100%; */
  align-items: center;
  gap: 24px;
  /* flex-wrap: wrap; */


}

.subscribe-text {
  color: #FFF;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 1.50;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
  text-align: center;
}

.subscribe-input {
  color: #FFF;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border: 1px solid #ffffff;
  background-color: transparent;
  padding-left: 16px;
  opacity: 0.3;
}

.subscribe-input::placeholder {
  color: #ffffff;

}

.subscribe-btn {
  font-size: 16px;
  min-width: 165px;
  height: 40px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  color: #FFF;
  background: #4D5AE5;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;
  /* margin-left: auto;
  margin-right: auto; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:is(:hover, :focus) {
  background-color: #404bbf;
}

.subscribe-img {
  margin-left: 16px;
  align-items: center;
  justify-content: center;
  fill: #FFFFFF;
}

.footer-soc-container {
  /* display: block; */
  text-align: center;
  /* margin: 0 auto; */
}

.backdrop {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-black-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}

.modal-btn:focus {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}

.modal-title {
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-shrink: 0;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form-container {
  margin-bottom: 8px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.40);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-input:focus {
  border-color: #4D5AE5;
}

.modal-input:focus+.input-icon {
  fill: #4D5AE5;
}

.modal-field {
  margin-bottom: 16px
}

.modal-name {
  display: block;
  font-size: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  color: #8E8F99;
  margin-bottom: 4px;
}

.input-icon {
  fill: #2E2F42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.input-wrap {
  position: relative;
  margin-bottom: 8px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.40);
  border-radius: 4px;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  color: rgba(46, 47, 66, 0.40);
  background-color: transparent;
  resize: none;
}

.modal-textarea:focus {
  border-color: #4D5AE5;
}

.modal-check {
  margin-bottom: 24px;
}

.check-text {
  color: #8E8F99;
  font-size: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  align-items: center;
}

.check-text span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.input-checkbox:checked+.check-text span {
  background-color: #404BBF;
  border: none;
  fill: #F4F4FD;
}

.check-text a {
  color: #4D5AE5;
  text-decoration: underline;
}

.check-link {
  color: #4d5ae5;
}

.send-btn {
  min-width: 169px;
  height: 56px;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.50;
  letter-spacing: 0.64px;
  padding: 16px 32px;
  border-radius: 4px;
  background-color: #4D5AE5;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:is(:hover, :focus) {
  background-color: #404bbf;
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.48px;
  color: rgba(46, 47, 66, 0.40);
}

.is-hidden {
  display: none;
  opacity: 0;
  pointer-events: none;
}